.allproducts-container {


  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: space-between;
  padding: 10px;
  align-items: baseline;
}
@media only screen and (max-width: 994px) {
   
.allproducts-container {

  grid-template-columns: repeat(3, 1fr);
}
}
@media only screen and (max-width: 765px) {
   
.allproducts-container {

  grid-template-columns: repeat(2, 1fr);
}


}
.cart-image img {
  width: 160px;
  height: 200px;
  transition: all 0.3s ease;
  padding-bottom: 15px;
}

@media only screen and (max-width: 765px) {
   
.cart-image img {
  width: 150px;
  height: 150px;

}


}




.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px 0;
  margin: 5px;
  height: 300px;
  border: none;
  
}

.card:hover{
border: 1px solid #848CD8;
}

.card:hover .testtext{
display: inline !important;
color: red;

}




.testtext{
   position: absolute;
  bottom: 50%;
  background-color: #848CD8;
  width:101%;
  padding:5px;
  text-transform: uppercase;
   font-family: 'Work Sans', sans-serif;
   color: white;
   text-align: center;
  display: none;

}

.testtext a{
text-align: center;
color: white;
 padding:15px;

}
.testtext a:hover{

color: red;

}


.card-description3 {
  display: flex;
  float: bottom;
  align-items: flex-start;
  flex-direction: column;
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
  padding-left: 10px;
  
  
}
.productlink3{
    text-decoration: none;
    font-size: 14px;
    padding-bottom: 10px;
    
}
.offeritem{
    text-decoration: line-through;
    padding-right: 5px;
}




