.hotdeals{
    font-family: 'Work Sans', sans-serif;
    margin-top: 20px;
    padding-bottom: 5px;
border-bottom: 1px solid rgb(204,204,204);
}

.timerforhotdeals{
    padding-left: 50px;
}

@media only screen and (max-width: 994px) {
   
.timerforhotdeals{
    padding-left: 15px;
    
}

}

.see-more a{
     text-decoration: none;
     font-family: 'Work Sans', sans-serif;   
}

.see-more a:hover{
     color: red;   
}