.latestproduct{
    font-family: 'Work Sans', sans-serif;
    margin-top: 20px;
    padding-bottom: 5px;
border-bottom: 1px solid rgb(204,204,204)  !important;
display: inline-flex;
margin-bottom: 20px;

}



@media only screen and (max-width: 994px){
 .latestproduct{

margin-top: 200px;
    

}   
}

@media only screen and (max-width: 770px){
 .latestproduct{

margin-top: 500px;
    

}   
}
@media only screen and (max-width: 500px){
 .latestproduct{

margin-top: 700px;
    

}   
}





