
.login-page{
height: 60vh;
}
.main-content{
	width: 50%;
	border-radius: 20px;
	box-shadow: 0 5px 5px rgba(0,0,0,.4);
	margin: 5em auto;
	display: flex;
	margin-top: 200px;
}

@media only screen and (max-width: 994px) {
   .login-page{

}
.main-content{
    margin: 5em auto;
    
}

}


.company__info{
	background-color: rgb(132,140,216);
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #fff;
	 font-family: 'Work Sans', sans-serif;
}
.fa-android{
	font-size:3em;
}
@media screen and (max-width: 640px) {
	.main-content{width: 90%;}
	.company__info{
		display: none;
	}
	.login_form{
		border-top-left-radius:20px;
		border-bottom-left-radius:20px;
	}
}
@media screen and (min-width: 642px) and (max-width:800px){
	.main-content{width: 70%;}
}
.row > h2{
	color:rgb(132,140,216);
	 font-family: 'Work Sans', sans-serif;
	 font-size: 25px;
}
.login_form{
	background-color: #fff;
	border-top-right-radius:20px;
	border-bottom-right-radius:20px;
	border-top:1px solid #ccc;
	border-right:1px solid #ccc;
}
form{
	padding: 0 2em;
}
.form__input{
	width: 100%;
	border:0px solid transparent;
	border-radius: 0;
	border-bottom: 1px solid #aaa;
	padding: 1em .5em .5em;
	padding-left: 2em;
	outline:none;
	margin:1.5em auto;
	transition: all .5s ease;
	 font-family: 'Work Sans', sans-serif;
}
.form__input:focus{
	border-bottom-color: #5a58e6;
	box-shadow: 0 0 5px rgba(83, 73, 218, 0.4); 
	border-radius: 4px;
}
.btn{
	transition: all .5s ease;
	width: 70%;
	border-radius: 30px;
	color:rgb(132,140,216);
	font-weight: 600;
	background-color: #fff;
	border: 1px solid rgb(132,140,216);
	margin-top: 1.5em;
	margin-bottom: 1em;
	 font-family: 'Work Sans', sans-serif;
	
}
.btn:hover, .btn:focus{
	background-color: rgb(132,140,216);
	color:#fff;
}
.remember-me{
    padding-top: 10px;
 font-family: 'Work Sans', sans-serif;
	text-align: left;
}

.company_title{
	letter-spacing: 0;
	font-weight: bold;
	font-size: 20px;
}
