.latestproduct3{
        font-family: 'Work Sans', sans-serif;
    margin-top: 20px;
    padding-bottom: 5px;
border-bottom: 1px solid rgb(204,204,204)  !important;
display: inline-flex;
margin-bottom: 20px;
}